@model IEnumerable<object>

@{
    ViewBag.Title = "Index";
}

@{
    var excludeProperties = ViewData["excludeProperties"] as List<string>;
    var Id = ViewData["Id"];
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewData["PageName"]</h2>
    </div>
    <div class="col-md-6 text-right">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </div>
</div>

@if (Model != null && Model.Any())
{
    if (Model.First() is HRManager.Models.Employee)
    {
        @Html.Partial("~/Views/Shared/CRUD/_EmployeeCard.cshtml", Model)
    }
    else
    {
        @Html.Partial("_Table", Model)

    }
}
else
{
    <p>No data to display.</p>
}


