<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/line-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/material.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
</head>
<body class="account-page">

    <div class="main-wrapper">
        <div class="account-content">
            <div class="container">

                <div class="account-logo">
                    <img src="~/Content/assets/img/logo2.png" alt="HR Manager">
                </div>

                <div class="account-box">
                    <div class="account-wrapper">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/assets/js/jquery-3.7.1.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/app.js"></script>
    <script src="~/Content/assets/cdn/rocket-loader.min.js"></script>

</body>
</html>
